.MainHeader{
  text-align: center;
}

.SlothList td{
  text-align: center;
  border: 1px solid green;
  


}
.SlothList table{
  width: 100%;
  
  color: green;
  padding: 20px;
}

header{
  background-color: rgba(0, 0, 0, 0.836);
  color: green;
  width: 50%;
  padding: 1%;
  margin-bottom: 1%;
  font-size: 0.90em;
  border: 1px solid rgb(29, 172, 29, .5) ;
  
}

dt{
font-size: 0.97rem;
}

dd{
font-size: 0.90em;
}

header a{
  color: rgb(33, 173, 103);
  
  
}

.MainHeader a:hover{
  color: rgb(129, 233, 184);
}

body{
  size: 100%;
  min-height: 100%;
}

:root{
  background: black url(/SlothTier/img/SlothPygmy.jpg) no-repeat fixed center;
  background-size: cover;
  font-size: 20px;
}
p{
  font-size: 0.80rem;
}



article{
  background-color: rgba(0, 0, 0, 0.836);
  color: green;
  width: 50%;
  padding: 1%;
  border: 1px solid rgb(29, 172, 29, .5);
  margin-bottom: 1%;
}
.footer{
  clear: both;
  position: relative;
  /* height: 200px;
  margin-top: 200px; */
  background-color: rgba(0, 0, 0, 0.836);
  color: green;
  font-size: larger;
  width: 50%;
  padding: 1%;
  border: 1px solid rgb(29, 172, 29, .5);
  margin-bottom: 1%;
  
}
.footer span{
  word-spacing: 200px;
}

.footer a:hover{
  color: rgb(150, 230, 167);
}

.footer a{
  color: green;
}

textarea{
  resize: none;
}

.SlothPics{
  background-attachment: fixed;
  background: fixed;
  opacity: 50%;
}

textarea{
  background-color: rgb(33, 173, 103);
}

input{
  background-color: rgb(33, 173, 103);
}



